body {
	font-weight: bold;
	color: rgba(0, 82, 156, 1);
	background: rgba(0, 82, 156, 0.1);
}

#droparea{
	width: 400px;
	min-height: 400px;
	margin: 30px auto 0;
	padding: 0 20px;
	border: 4px solid rgba(0, 82, 156, 0.8);
}

#previewsContainer {
	width: 300px;
	min-height: 280px;
	padding: 10px 20px;
	background: #FFF;
	margin: 0 auto 20px;
}

#selectImage {
	color: #FFF;
	width: 200px;
	text-align: center;
	padding: 10px 0;
	background: rgba(0, 82, 156, 0.5);
	float: left;
	cursor: pointer;
}

#fileSubmit {
	color: #FFF;
	width: 200px;
	margin: 0 0 0 30px;
	text-align: center;
	padding: 10px 0;
	background: rgba(0, 82, 156, 0.5);
	float: left;
	cursor: pointer;
}
